<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather-91-16.png">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>

<body>
    <div class="main-content"> 
        {{>header}}
        <p>{{text1}}</p>
    <img class='portrait' src={{myImage}}>
    </div>
    
    {{>footer}}    
</body>




</html>