<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather-91-16.png">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>

<body>
     <div class="main-content"> 
        {{>header}}
    <p></p>
    {{helpText}}
     </div>
    
    {{>footer}}
</body>
    

</html>